@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

/* other css file imports */

@import url("sections/header.css");
/*
@import url("sections/hero.css");
@import url("sections/about.css");
@import url("sections/popular.css");
@import url("sections/trending.css");
@import url("sections/subscribe.css");
@import url("sections/footer.css");
*/
/* CSS variables for reusablity across all files (including above imported) */
:root {
  --font-default: "Playfair Display", serif;
  --font-secondary: "Plus Jakarta Sans", sans-serif;

  --primary-color: #888888;
  --secondary-color: #fff;

  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  --color-white: #fff;
  --color-background: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  color: inherit;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workout__subtitle {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-secondary);

  color: var(--primary-color);
  opacity: 0.8;

  letter-spacing: -0.01em;
}

.workout__title {
  font-size: 64px;
  font-weight: 600;
  font-family: var(--font-default);

  color: var(--secondary-color);

  margin-top: 16px;
}

.workout__description {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-secondary);

  line-height: 36px;
  letter-spacing: -0.01em;

  color: var(--secondary-color);
  opacity: 0.8;

  margin: 32px 0px;
}

/* START: header media querie */
@media screen and (max-width: 900px) {

  .header__menu {
    display: none;
  }

  .header__menu-mobile {
    display: flex;
  }
}

@media screen and (max-width: 550px) {
  .header__logo {
    padding-left: 0;
  }
}
/* END: header media queries */