.about-us {
    display: flex;
}

.about-us__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 64px;
    gap: 48px;
}

.about-us__content-title {
    font-family: var(--font-secondary);
    font-size: 3rem;
    color: var(--secondary-color);
}

.about-us__content-subtitle {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    opacity: 0.8;
    color: var(--secondary-color);
}

.about-us__content-cards {
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.about-us__content-card {
    display: flex;
    width: 265px;
    height: 180px;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 36px;
    gap: 16px;
    font-family: var(--font-secondary);
    border-radius: 10px;
    background: var(--card-1);
}

.about-us__content-card h3 {
    font-size: 1.125rem;
    font-weight: bold;
}

.about-us__content-card-info {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.about-us__content-card-info p {
    font-size: 0.9rem;
    opacity: 0.7;
    line-height: 18px;
}

.about-us__content-card-info img {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 750px) {
    .about-us__content-cards {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 550px) {
    .about-us__content {
        padding: 48px;
    }

    .about-us__content-title {
        text-align: center;
        font-size: 2rem;
    }

    .about-us__content-subtitle {
        font-size: 1rem;
        text-align: center;
    }

    .about-us__content-cards {
        flex-wrap: wrap;
        gap: 24px;
        display: flex;
        justify-content: center;
    }

    .about-us__content-card {
        width: 220px;
        height: 140px;
        padding: 24px;
        gap: 16px;
    }

    .about-us__content-card-info img {
        width: 20px;
        height: 20px;
    }
}