.hero {
    display: flex;
    min-height: calc(100vh - 74px);
    padding: 80px 0;
}

.hero__image {
    flex: 1;
    display: flex;
    flex-direction: column;

    position: relative;
    z-index: 5;
}

.hero__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero__content{
    color: var(--color-white);
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0 16px;
}

.hero__content-info {
    padding: 64px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 36px;
}

.hero__content-info h1 {
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    font-family: var(--font-secondary);
}

.hero__content p {
    font-family: var(--font-secondary);
    text-align: justify;
    opacity: 0.8;
    font-size: 1.5rem;
}

.hero__content-button {
    margin: 41px 0 0 41px;

    display: flex;
    flex-wrap: wrap;

}

.hero__content-join-button {
    padding: 20px;
    border-radius: 10px;
    min-width: 212px;
    outline: none;
    border: none;
    background: var(--color-button);
    color: var(--color-white);

    cursor: pointer;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 23px;
}

.hero__content-info-sponsors {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.hero__content-info-sponsors p {
    text-transform: uppercase;
    font-size: 1rem;
}

.hero__content-info-sponsors-logos {
    display: flex;
    flex-direction: row;
    gap: 36px;
    padding: 12px 0;
}


@media screen and (max-width: 750px) {
    .hero {
        padding: 20px 0;
    }
    
    .hero__content {
        flex-direction: column;
    }

    .hero__content__join-button {
        padding: 14px;
        border-radius: 10px;
        min-width: 180px;
    }
    
    .hero__content-info-sponsors-logos {
        gap: 28px;
        padding: 12px 0;
    }
    
    .hero__content-info-sponsors-logos {
        flex-wrap: wrap;
    }

    .hero__content-info-sponsors-logos img {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 550px) {
    .hero__content-info {
        padding: 40px 36px;
        width: 320px;
    }

    .hero__content-info h1 {
        font-size: 3rem;
        text-align: center;
    }

    .hero__content-info p {
        font-size: 1rem;
    }

    .hero__content-join-button {
        padding: 10px;
        min-width: 160px;
        font-size: 1rem;
    }

    .hero__content-info-sponsors {
        padding: 30px 0;
    }
    
    .hero__content-info-sponsors p {
        font-size: 0.9rem;
        text-align: center;
    }

    .hero__content-info-sponsors-logos {
        justify-content: center;
    }
    
    .hero__image {
        width: 300px;
        padding: 0 0 0 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero__image img {
        width: 90%;
    }
}