.programs {
    display: flex;
    flex-direction: column;
    padding: 0 64px;
}

.programs__content {
    display: flex;
    flex-direction: column;

}

.programs__content h2 {
    font-size: 2.25rem;
    color: var(--color-white);
    font-family: var(--font-secondary);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 14px 0;
}

.programs__content-cards {
    display: flex;
    flex-direction: row;
    color: #fff;
    gap: 64px;
    flex: 1;
    padding: 64px 0;
    justify-content: center;
}

.programs__content-card {
    display: flex;
    background: var(--card-2);
    width: 538px;
    flex-direction: column;
    padding: 36px;
    gap: 24px;
    font-family: var(--font-secondary);
    border-radius: 20px;
}

.programs__content-card h3 {
    font-size: 2.25rem;
    color: var(--color-white);
    text-align: center;
}

.programs__content-card p {
    font-size: 1rem;
    color: var(--color-white);
    text-align: justify;
    opacity: 0.8;
}

.programs__content-card ul {
    padding: 0 36px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.programs__content-card li {
    color: rgba(255, 255, 255, 0.8);
}

.programs__content-card-button {
    display: flex;
    width: 150px;
    gap: 16px;
    padding: 24px 0;
    border-radius: 8px;
    border: none;
    background: transparent;
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.programs__content-card-button p {
    color: var(--color-button);
}

.programs__content-card button {
    display: flex;
    width: 150px;
    padding: 10px 24px;
    border-radius: 16px;
    color: #fff;
    background: var(--color-button);
}

@media screen and (max-width: 750px) {
    .programs__content-cards {
        flex-direction: column;
        padding: 64px 32px;
    }
    
    .programs__content-card {
        justify-content: center;
    }
}

@media screen and (max-width: 550px) {
    .programs__content-card {
        width: 400px;
        flex-direction: column;
        padding: 36px;
        gap: 24px;
        font-family: var(--font-secondary);
        border-radius: 20px;
    }

    .programs__content h2 {
        text-align: center;
    }
}